@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* NAV NAV  */

#nav-container, main, .carousel-container {
    width: 100%;
    margin: 0 auto;
}

#navbar {
    width: inherit;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #6C63FF;
    padding-left: 60px;
    font-size: 14px;
    font-weight: 300;
}

.search-div {
    border-radius: 6px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
}

.bi-search {
    font-size: 18px;
    color: #B2B2B2;
    position: absolute;
    left: 0;
    padding-left: 4px;
}

input[type="search"] {
    height: 28px;
    width: 240px;
    border: 1px rgb(182, 182, 182) solid;
    padding-left: 28px;
}


nav .container-lg .collapse form .search-btn {
    height: 38px;
    background-color: #6C63FF;
    width: 115px;
    color: #FCFCFC;
}

/* MAIN MAIN  */

main {
    height: 640px;
    margin: 0 auto;
    border: 5px solid green'
}

.pers-asst {
    width: 400px;
    text-align: center;
    font-weight: 700;
    color: #6C63FF;
}

.help {
    width: 300px;
    text-align: center;
    margin-left: 50px;
    font-weight: lighter;
    color: #707070;
}

/* MAIN BUTTONS */
main .container .row .col-md-6 .main-first-col .check {
    background-color: #FF840A;
    width: 115px;
    margin-left: 70px;
}

main .container .row .col-md-6 .main-first-col .info {
    color: #6C63FF;
    width: 115px;
}

/* SECTION : CAROUSEL  */
.carousel-container {
    width: 100%;
    margin: 70px auto;
}

.carousel-container .carousel {
    width: 100%;
}

.carousel-inner {
    width: 600px;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(64, 64, 64, .16);
}

.c-imgs {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.carousel-container .carousel ol {
    margin: 0 auto;
    z-index: 2;
    width: 100%;
    height: 50px;
}

.car-circles {
    color: white;
    font-size: 12px;
    padding-left: 20px;
}

.ol-circle {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.ol-circle:active {
    border: solid 1px #FF840A;
}

ol .active .ol-circle {
    background-color: #FF840A;
    border: #FF840A solid 1px;
}


/* PRICING  */

#pricing {
    height: 500px;
}

.pricing-container {
    width: 1300px;
    height: 420px;
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(64, 64, 64, .16);
}

.pricing-container h2  {
    text-align: center;
    color: #6c63ff;
    font-weight: 200;
    padding-top: 20px;
}

.card {
    height: 120px;
}

.pricing-container .row {
    margin: 0 auto;
    height: 310px;
}

.pricing-container .row .cc {
    width: 320px;
}

.card-text {
    font-size: 12px;
    list-style-type: none;
}

.list-group-flush {
    height: 130px;
    padding: 0 10px;
}

 /* for you and your team  */
.f-team {
    font-size: 12px;
    color:#10111a;
    font-weight: 600;
}

.card-title {
    font-weight:600;
}

.two-title {
    padding-bottom: 10px;
}

#pricing .pricing-container .row .cc-f a {
    background-color: #6C63FF;
    color: #fcfcfc;
}

/* first card  */
#pricing .pricing-container .row .first-c {
    border: #6C63FF solid 1px;
}
.first-c h5{
    color: #6C63FF;
}

.first-c h3 {
    color: #FF840A;
}

.first-c p {
    color: #3E3E3E;
}

/* second card  */
#pricing .pricing-container .row .second-c {
    border: #928CF5 solid 1px;
    background-color: #928CF5;
}
.second-c h5,
.second-c h3,
.second-c li,
.second-c a {
    color: #FCFCFC;
}

.second-c a {
    background-color: #FF9A3E;
}

/* third card  */
#pricing .pricing-container .row .third-c {
    border: #716BD1 solid 1px;
    background-color: #716BD1;
}
.third-c h5,
.third-c h3,
.third-c li,
.third-c a {
    color: #FCFCFC;
}

.third-c a {
    background-color: #FF9A3E;
}

/* FOOTER  */

footer {
    width: 100%;
    height: 100px;
    background-color: #FBFBFB;
    box-shadow: 0 2px 5px rgba(39, 39, 39, 0.40);
}

footer nav ul {
    width: 340px;
}

footer nav ul li a {
    text-decoration: none;
    color: #3E3E3E;
    font-size: 12px;
}

footer nav form {
    width: 430px;
}

footer nav form .subs{
    font-size: 14px;
    color: #6C63FF;
    font-weight: lighter;
}

footer nav form input[type=email]{
    height: 28px;
    width: 240px;
    border: 1px rgb(182, 182, 182) solid;
    padding-left: 10px;
}

footer nav form input[type=email]::placeholder{
    color:rgb(182, 182, 182);
    font-size: small;
    width: 118px;
    height: 38px;
}


footer nav form .btn {
    background-color: #6C63FF;
    color:#FCFCFC;
}

























/* ---------------------- MEDIA QUERIES --------------------------- */

/* @media (max-width: 896px) {
    main {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        border: 5px solid blue;
    }
    main .container {
        width: 100%;
        border: orange dashed 5px;
    }
    .main-first-col {
        border: red 15px solid;
    }
    .hero-image {
        width: 200px;
        height: auto;
    }
} */